body{
    
    background-color:aqua;
}
.contenedor{
    width: 60%;
    margin:30px auto;
    height: 250px;
    text-align: center;
    border-radius:6px;
    background-color: beige;
    
}
h2{
    padding: 15px;
    font-size: 30px;
    background-color: brown;
}
.grados{
    font-size: 30px;
    color: purple;
    
}
input{
    font-size: 20px;
    color: red;
    
}
button{
    margin: 20px;
    font-size: 20px;
    border-radius: 5px;
    color: red;
}
